/*Common rules*/

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

header, article {
  text-align: center;
  color: #89023e;
}

/*Header rules*/

header {
  width: 100%;
  height: 25%;
  background-image: url("fond.jpg");
  background-position: center;
  font-size: 28px;
  padding-top: 2em;
  margin-bottom: 3em;
  text-shadow: 3px 3px 4px lightgrey;
  border-bottom: 5px solid #89023e;
  box-shadow: 3px 3px 4px #1b2021;
}

/*Boxes rules*/

article {
  width: 20%;
  height: 40%;;
  background-color: #ffd9da;
  display: inline-block;
  margin: 0 2.1%;
  border: 3px outset #ea638c;
  box-shadow: 2px 2px 3px black;
  font-size: 22px;
}

article h2 {
  margin-top: 3.5em;
  text-shadow: 1px 1px 2px black;
}
