body {
  margin: 0;
}

.first {
  width: 1000px;
  height: 400px;
  background-color: red;
  font-size: 32px;
}

.second {
  width: 500px;
  height: 200px;
  background-color: darkblue;
  font-size: 20px;
}

article {
  width: 50%;
  height: 50%;
  background-color: grey;
  font-size: 2em;
}

.second article p {
  font-size: 1rem;
}
